    <div class="container">

      <div class="page-header">
        <h3 class="page-title"><%=@scheda['ragione']%></h3>

        <ol class="breadcrumb">
          <li><%= @titolo %></li>
        </ol>
      </div> <!-- /.page-header -->

      <div class="row">
        <div class="col-md-12">
          <div class="portlet portlet-boxed">

            <div class="portlet-header">
              <h4 class="portlet-title">
                Dati per <%=@scheda['ragione']%>
              </h4>
            </div> 

            <div class="portlet-body">

              <table class="table table table-hover m-0">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Valore</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <th scope="row">Ragione Sociale</th>
                    <td><%=@scheda['ragione']%></td>
                  </tr>
                  <tr>
                    <th scope="row">Codice Fiscale</th>
                    <td><%=@scheda['fiscale']%></td>
                  </tr>
                  <tr>
                    <th scope="row">Fatturato 2015</th>
                    <td><%=num_to_currency(@totale['2015'])%></td>
                    <th scope="row">Di cui cottimo fiduciario</th>
                    <td><%=num_to_currency(@totale_cottimo['2015'])%></td>
                    <th scope="row">Di cui affidamento diretto</th>
                    <td><%=num_to_currency(@totale_diretto['2015'])%></td>
                  </tr>
                  <tr>
                    <th scope="row">Fatturato 2016</th>
                    <td><%=num_to_currency(@totale['2016'])%></td>
                    <th scope="row">Di cui cottimo fiduciario</th>
                    <td><%=num_to_currency(@totale_cottimo['2016'])%></td>
                    <th scope="row">Di cui affidamento diretto</th>
                    <td><%=num_to_currency(@totale_diretto['2016'])%></td>
                  </tr>
                  <tr>
                    <th scope="row">Fatturato 2017</th>
                    <td><%=num_to_currency(@totale['2017'])%></td>
                    <th scope="row">Di cui cottimo fiduciario</th>
                    <td><%=num_to_currency(@totale_cottimo['2016'])%></td>
                    <th scope="row">Di cui affidamento diretto</th>
                    <td><%=num_to_currency(@totale_diretto['2017'])%></td>
                  </tr>
		  <%
		  totale = 0
		  totale_diretto = 0
		  totale_cottimo = 0
		  
		  @totale.each do |k, v|
			  totale = totale + v
		  end
		  @totale_diretto.each do |k, v|
			  totale_diretto = totale_diretto + v
		  end

		  @totale_cottimo.each do |k, v|
			  totale_cottimo = totale_cottimo + v
		  end
		  
		  %>
                  <tr>
                    <th scope="row">TOTALE COMMESSE</th>
                    <td><strong><%=num_to_currency(totale)%></strong></td>
                    <th scope="row">Di cui cottimo fiduciario</th>
                    <td><strong><%=num_to_currency(totale_cottimo)%></strong></td>
                    <th scope="row">Di cui affidamento diretto</th>
                    <td><strong><%=num_to_currency(totale_diretto)%></strong></td>
                  </tr>
				  
                </tbody>
              </table>

            </div>

          </div>
        </div> 
      </div> 
	  
	        <div class="row">
	          <div class="col-md-8">
	            <div class="portlet portlet-boxed">
		            <div class="portlet-body">	
						<div id="mytrend" style="height: 250px;"></div>
				  </div>
	  		  </div>
	  		</div>
	          <div class="col-md-4">
	            <div class="portlet portlet-boxed">
		            <div class="portlet-body">	
						<div id="myPercentage" style="height: 250px;"></div>
				  </div>
	  		  </div>
	  		</div>
	        </div>

	  <script>
		 new Morris.Donut({
		    element: 'myPercentage',
		    data: [
				{label: "Lotti in Gara", value: <%=totale.to_i - totale_cottimo.to_i - totale_diretto.to_i%>},
				{label: "Lotti in Cottimo", value: <%=totale_cottimo.to_i%>},
				{label: "Lotti in Assegnazione Diretta", value: <%=totale_diretto.to_i%>}
		    ]
		  });
		  		  
	  	new Morris.Line({
	  	  // ID of the element in which to draw the chart.
	  	  element: 'mytrend',
	  	  // Chart data records -- each entry in this array corresponds to a point on
	  	  // the chart.
	  	  data: [
	  	    { year: '2015', value: <%=@totale['2015'].to_i%> },
	  	    { year: '2016', value: <%=@totale['2016'].to_i%> },
	  		  { year: '2017', value: <%=@totale['2017'].to_i%> }
	  	  ],
	  	  // The name of the data record attribute that contains x-values.
	  	  xkey: 'year',
	  	  // A list of names of data record attributes that contain y-values.
	  	  ykeys: ['value'],
	  	  // Labels for the ykeys -- will be displayed when you hover over the
	  	  // chart.
	  	  labels: ['Importi']
	  	});
	  </script>

      <div class="row">
        <div class="col-md-12">
          <div class="portlet portlet-boxed">

            <div class="portlet-header">
              <h4 class="portlet-title">
                Analisi dei Lotti per <%=@scheda['ragione']%>
              </h4>
            </div> 

            <div class="portlet-body">
				
	            <p class="text-muted">
	                <strong>ATTENZIONE:</strong> In questa tabella sono riportate le informazioni <strong>sicuramente parziali</strong> che è stato possibile estrarre dai Soggetti che hanno correttamente depositato i dati, che li hanno caricati in modo corretto e di cui è stato possibile interpretare tramite parsing la rappresentazione. Si tratta, con estrema probabilità, di dati estremamente parziali, anche di molto inferiori al totale. Per analizzare i singoli lotti è possibile seguire i link ipertestuali proposti.<br/>
	            </p>

              <table class="table table table-hover m-0">
                <thead>
                  <tr>
                    <th>Annno</th>
                    <th>Descrizione</th>
                    <th>Tipologia</th>
                    <th>Importo</th>
                    <th>Committente</th>
                  </tr>
                </thead>

                <tbody>
					<% @data.each do |d|
					
					if !d[6].nil?
					%>
                  <tr>
					<%
					anno = d[6].split("_")[0].strip
					fiscale = d[6].split("_")[1].strip
					c = $r.hgetall("aggr:#{fiscale}:#{anno}")
					%>
                    <td><%=anno%></td>
                    <td><%=d[1]%> (<%=d[0]%>)</td>
                    <td><%=d[2]%></td>
                    <td><%=num_to_currency(d[5].to_s)%></td>
                    <td><A href="/scheda/<%=fiscale%>/<%=anno%>"><%=c["ragione"]%></a></td>
                  </tr>
				  <% 
				  end
				  end %>
                </tbody>
              </table>

            </div>

          </div>
        </div> 
      </div> 
	  
    </div> <!-- /.container -->
