    <div class="container">

      <div class="page-header">
        <h3 class="page-title">Legge 190/2012 art. 1, comma 32</h3>

        <ol class="breadcrumb">
          <li>Dati dell'Anno <%=@anno%></li>
        </ol>
      </div> <!-- /.page-header -->

<!-- Dettaglio
      <div class="row">
        <div class="col-md-12">
          <div class="portlet portlet-boxed">

            <div class="portlet-header">
              <h4 class="portlet-title">
                Hover Table
              </h4>
            </div> 

            <div class="portlet-body">

              <p class="text-muted">
                  Add <code>.table-hover</code> to enable a hover state on table rows within a <code>&lt;tbody&gt;</code>.
              </p>

              <table class="table table table-hover m-0">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>

                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>

                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>

            </div>

          </div>
        </div> 
      </div> 
	  
	  -->



      <div class="portlet portlet-boxed">

        <div class="portlet-header">
          <h4 class="portlet-title">
            Dati cumulativi per l'anno <%=@anno%>
          </h4>
        </div> <!-- /.portlet-header -->

        <div class="portlet-body">

          <p class="text-muted">
              In questa schermata è presentata, in formato indicizzabile, la rappresentazione grafica dei contenuti presenti relativi alla Legge 190/2012 art. 1, comma 32 distribuiti come OpenData da ANAC. I dettagli realtivi al singolo soggetto sono disponibili cliccando sulla riga corrispondente.
          </p>

          <div class="table-responsive">
            <table class="table table-responsive">
              <thead>
                <tr>
                  <th>Ragione</th>
                  <th>C.F.</th>
                  <th>Ultimo_Controllo</th>
                  <th>Risultato</th>
                  <th>Azioni_Possibili</th>
                </tr>
              </thead>
              <tbody>
				  <%
					@data.each do |item|
						row = $r.hgetall(item)
				  %>
                <tr>
                  <th scope="row"><a href="/scheda/<%=row["fiscale"]%>/<%=row["anno"]%>"><%=row["ragione"]%></a></th>
                  <td><%=row["fiscale"]%></td>
                  <td><%=row["data"]%></td>
                  <td><%=row["esito"]%></td>
                  <td>[<a href="<%=row["url"]%>">xml</a>] - [<a href="/scheda/<%=row["fiscale"]%>/<%=row["anno"]%>">scheda</a>]</td>
                </tr>
				<% end %>
              </tbody>
            </table>
          </div>
		  
        </div> <!-- /.portlet-body -->

      </div> <!-- /.portlet -->


    </div> <!-- /.container -->
