    <div class="container">

      <div class="page-header">
        <h3 class="page-title"><%=@scheda['ragione']%></h3>

        <ol class="breadcrumb">
          <li><%= @titolo %></li>
        </ol>
      </div> <!-- /.page-header -->

      <div class="row">
        <div class="col-md-12">
          <div class="portlet portlet-boxed">

            <div class="portlet-header">
              <h4 class="portlet-title">
                Dati per <%=@scheda['ragione']%>
              </h4>
            </div> 

            <div class="portlet-body">

              <table class="table table table-hover m-0">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Valore</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <th scope="row">Ragione Sociale</th>
                    <td><%=@scheda['ragione']%></td>
                  </tr>
                  <tr>
                    <th scope="row">Codice Fiscale</th>
                    <td><%=@scheda['fiscale']%></td>
                  </tr>
                  <tr>
                    <th scope="row">Anno</th>
                    <td><%=@scheda['anno']%></td>
                  </tr>
                  <tr>
                    <th scope="row">Data ultimo controllo</th>
                    <td><%=@scheda['data']%></td>
                  </tr>
                  <tr>
                    <th scope="row">Esito ultimo controllo</th>
                    <td><%=@scheda['esito']%></td>
                  </tr>
                  <tr>
                    <th scope="row">identificativo PEC</th>
                    <td><%=@scheda['pec']%></td>
                  </tr>
                  <tr>
                    <th scope="row">Indirizzo dichiarato</th>
                    <td><a href="<%=@scheda['url']%>"><%=@scheda['url']%></a></td>
                  </tr>
                </tbody>
              </table>

            </div>

          </div>
        </div> 
      </div> 
	  
    </div> <!-- /.container -->
