    <div class="container">

      <div class="page-header">
        <h3 class="page-title"><%=@scheda['ragione']%></h3>

        <ol class="breadcrumb">
          <li><%= @titolo %></li>
        </ol>
      </div> <!-- /.page-header -->

      <div class="row">
		  <%
		  	
		  url = @scheda['url']
		  url = "http://#{url}" if !url.start_with?("htt")
			
		  %>
        <div class="col-md-8">
          <div class="portlet portlet-boxed">

            <div class="portlet-header">
              <h4 class="portlet-title">
                Dati per <%=@scheda['ragione']%>
              </h4>
            </div> 

            <div class="portlet-body">

              <table class="table table table-hover m-0">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Valore</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <th scope="row">Ragione Sociale</th>
                    <td><%=@scheda['ragione']%></td>
                  </tr>
                  <tr>
                    <th scope="row">Codice Fiscale</th>
                    <td><%=@scheda['fiscale']%></td>
                  </tr>
                  <tr>
                    <th scope="row">Anno</th>
                    <td><%=@scheda['anno']%></td>
                  </tr>
                  <tr>
                    <th scope="row">Data ultimo controllo</th>
                    <td><%=@scheda['data']%></td>
                  </tr>
                  <tr>
                    <th scope="row">Esito ultimo controllo</th>
                    <td><%=@scheda['esito']%></td>
                  </tr>
                  <tr>
                    <th scope="row">identificativo PEC</th>
                    <td><%=@scheda['pec']%></td>
                  </tr>
                  <tr>
                    <th scope="row">Indirizzo dichiarato</th>
                    <td><a href="<%=url%>"><%=url%></a></td>
                  </tr>
                  <tr>
                    <th scope="row">Importi totali</th>
                    <td><%=num_to_currency(@totale)%></td>
                  </tr>
                  <tr>
                    <th scope="row">Importi in Cottimo Fiduciario</th>
                    <td><%=num_to_currency(@totale_cottimo)%></td>
                  </tr>
                  <tr>
                    <th scope="row">Importi in Assegnamento Diretto</th>
                    <td><%=num_to_currency(@totale_diretto)%></td>
                  </tr>
                </tbody>
              </table>

            </div>

          </div>
        </div> 
		
		
          <div class="col-md-4">
            <div class="portlet portlet-boxed">
              <div class="portlet-body">	
  				<div id="myPercentage" style="height: 250px;"></div>
  		    </div>
  		  </div>
		  
        </div> 
  	  <script>
  		 new Morris.Donut({
  		    element: 'myPercentage',
  		    data: [
  				{label: "In Gara", value: <%=@totale.to_i%>},
  				{label: "In Cottimo", value: <%=@totale_cottimo.to_i%>},
  				{label: "In Assegnamento Diretto", value: <%=@totale_diretto.to_i%>}
  		    ]
  		  });
  	  </script>
		
      </div> 

      <div class="row">
        <div class="col-md-12">
          <div class="portlet portlet-boxed">

            <div class="portlet-header">
              <h4 class="portlet-title">
                Analisi dei Lotti per <%=@scheda['ragione']%>
              </h4>
            </div> 

            <div class="portlet-body">
				
	            <p class="text-muted">
	                <strong>ATTENZIONE:</strong> In questa tabella sono riportate le informazioni che è stato possibile desumere dal parsing del file XML fornito, ove questo sia ancora accedibile e correttamente formattato. Non si risponde di eventuali errori di visualizzazione e per qualunque controllo completo si prega di fare riferimento al file pubblicato disponibile all'indirizzo <a href="<%=url%>"><%=url%></a><br/>
	            </p>

              <table class="table table table-hover m-0">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Descrizione</th>
                    <th>Tipologia</th>
                    <th>Aggiudicatario</th>
                    <th>Importo</th>
                  </tr>
                </thead>

                <tbody>
					<% @data.each do |d|%>
                  <tr>
                    <td><%=d[0]%></td>
                    <td><%=d[1]%></td>
                    <td><%=d[2]%></td>
                    <td><a href="/azienda/<%=d[3]%>"><%=d[4]%> (<%=d[3]%>)</a></td>
                    <td><%=num_to_currency(d[5].to_s)%></td>
                  </tr>
				  <% end %>
                </tbody>
              </table>

            </div>

          </div>
        </div> 
      </div> 
	  
    </div> <!-- /.container -->
